@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

:root {
	--mobile-width: 500px;
	--nav-link-spacing: 1rem;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Sen', sans-serif;
}

@media only screen and (max-width: 500px){
  .desktop_only{
    display: none;
  }
  html {
    /* Mobile font size will be about 2/3 of desktop font size.*/
    font-size: 10px;
  }
}
@media only screen and (min-width:500px){
  .mobile_only{
    display: none;
  }
  html {
  /* The default font size is already 16. 
   * This CSS only reiterates this definition for clarity
   */
   font-size: 16px;
  }
}

li {
  list-style: none;
}

/* Design for mobile first */
#nav_bar {
	background-color: black;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav_header {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	font-size: 1.5rem;
}

#nav_menu {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0;
	margin-top: 1%;
	margin-bottom: 1%
}

#nav_menu>li{
	margin-left:1.5em;
}

.nav_link{
	color: white;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Sen', sans-serif;
	text-decoration: none;
}

.nav_link.selected{
	text-decoration: underline;
	color: #001133;
}

#burger_menu{
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 10px;
	float: right;
}

h1 {
  font-size: 1em;
  color: white;
  background-color: black;
  text-align: center;
}

section#about{
	height:10000px;
}

.nav_link.current_section{
  text-decoration: underline;
  color: #99CCFF;	
}

/*
.emphasis_gradient{
	font-weight: bold;
  position: relative;
  content: '';
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E1FAFF), color-stop(100%, #298CFF));
  background: -webkit-linear-gradient(top, #E1FAFF 0%, #298CFF 100%);
  background:    -moz-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
  background:     -ms-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
  background:      -o-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
}
*/

.emphasis_text{
	text-align: center;
  color: #8ec2ff;
  font-size: .75em;
  font-weight: ExtraBold;
}

.main_header {
	font-size: 3rem;
}

section#home {
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#work {
	height: 200vh;
	background-color:gray;
}

main {
	width: 100vw;
}

#preload {
	display: none;
}