@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

:root {
	--mobile-width: 500px;
	--nav-link-spacing: 1rem;
	/* 
         * index.js sets nav-header-height programatically; it determines the total height of the nav bar;
	 * this .css file uses that height value to displace the link anchor points so that scrolling takes
	 * the nav bag into account
	 */
	--nav-header-height: 0px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Sen', sans-serif;
}

@media only screen and (max-width: 500px){
  .desktop_only{
    display: none;
  }
  
  html, body {
    /* Mobile font size will be about 2/3 of desktop font size.*/
    font-size: 10px;
  }
}

@media only screen and (min-width:501px){
  .mobile_only{
    display: none;
  }
  html,body {
  /* The default font size is already 16. 
   * This CSS only reiterates this definition for clarity
   */
   font-size: 16px;
  }
}

li {
  list-style: none;
}

#nav_header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
}

#nav_bar {
	background-color: black;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
#nav_bar:after {
  content: "";
  display: block;
  width:100%;
  background-color: #2D4;
  position: absolute;
  height: 2px;
  bottom: 0px;
}

#nav_menu {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0;
	margin-top: 1%;
	margin-bottom: 1%
}

#nav_menu>li{
	margin-left:1.5em;
}

.nav_link{
	color: white;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Sen', sans-serif;
	text-decoration: none;
}

.nav_link.selected{
	text-decoration: underline;
	color: #001133;
}

#burger_menu{
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 6px;
}

h1 {
	font-size: 2.5rem;
	padding: 3rem;
	margin: 0;
	text-align: center;
}

#main_header > h1 {
  font-size: 0.75em;
  color: white;
}

.nav_link.current.main_section{
  text-decoration: underline;
  color: #99CCFF;	
}

/*
.emphasis_gradient{
	font-weight: bold;
  position: relative;
  content: '';
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E1FAFF), color-stop(100%, #298CFF));
  background: -webkit-linear-gradient(top, #E1FAFF 0%, #298CFF 100%);
  background:    -moz-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
  background:     -ms-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
  background:      -o-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
}
*/

.emphasis_text{
	text-align: center;
  color: #8ec2ff;
  font-size: 1.75em;
  font-weight: ExtraBold;
}

#main_header {
	font-size: 3em;
}

.main_section#home {
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_section#work {
	height: 1000px;
	background-color:gray;
}

.main_section#contact {
	height:1500px;
	background-color:orange;
}

.section_anchor {
	width:100vw;
	position: relative;
	height: 0px;
	bottom: var(--nav-header-height);
}
.section_anchor.top_section_anchor {
	top: 0px;
	position: absolute;
}

.nav_link.current_section {
  color: #CCDDFF;
  text-decoration: underline;
}

main {
	width: 100vw;
}

#preload {
	display: none;
}