@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

:root {
	--mobile-width: 500px;
	--nav-link-spacing: 1rem;
}

li {
  list-style: none;
}

/* Design for mobile first */
#nav_bar {
	background-color: black;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav_menu {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#nav_menu > li > a, a:link, a:visited, a:focus, a:hover, a:active{
	color: white;
	font-size: 24pt;
	font-weight: bold;
	font-family: 'Sen', sans-serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

#nav_menu > li > a:active {
  color: green;
}
#burger_menu{
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 10px;
	float: right;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Sen', sans-serif;
}

h1 {
  font-size: 36pt;
  color: white;
  background-color: black;
  text-align: center;
}

section#about{
	height:10000px;
}

/*
.emphasis_gradient{
	font-weight: bold;
  position: relative;
  content: '';
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E1FAFF), color-stop(100%, #298CFF));
  background: -webkit-linear-gradient(top, #E1FAFF 0%, #298CFF 100%);
  background:    -moz-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
  background:     -ms-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
  background:      -o-linear-gradient(bottom, #E1FAFF 0%, #298CFF 100%);
}
*/

.emphasis_text{
	text-align: center;
  color: #8ec2ff;
  font-size: 48pt;
  font-weight: ExtraBold;
}

.main_header {
}

section#landing_page {
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 100vw;
}

#preload {
	display: none;
}